{%- load_yaml as datadog_defaults %}
Debian:
  pkg: datadog-agent
  service: datadog-agent
  config_dir: /etc/datadog
  repo:
    name: deb http://apt.datadoghq.com/ stable main
    file: /etc/apt/sources.list.d/datadog.list
    human_name: Datadog Agent
    keyserver: keyserver.ubuntu.com
    keyid: C7A7DA52
  config:
    dd_url: https://app.datadoghq.com
    api_key: changeme
    gce_updated_hostname: yes
    use_mount: no
  integrations:
    haproxy:
      url: http://localhost/admin?stats
    couchbase:
      server: http://localhost:8091
      username: Administrator
      password: password
Windows:
  pkg: datadog
  service: DataDog
  config_dir: C:/ProgramData/Datadog
  config:
    dd_url: https://app.datadoghq.com
    api_key: changeme
    gce_updated_hostname: yes
    use_mount: no
{%- endload %}

{%- set datadog = salt['grains.filter_by'](datadog_defaults,
                        merge=salt['pillar.get']('datadog')) %}
